// .woocommerce,
// .woocommerce-page {

//     .woocommerce-message,
//     .woocommerce-error,
//     .woocommerce-info {
//         background-color: $light-gray $nb;
//         color: $color_text $nb;
//         border-top: 3px solid $color_accent $nb;
//     }

//     .woocommerce-message {
//         border-top-color: $alert_green $nb;

//         &::before {
//             color: $alert_green $nb;
//         }
//     }

//     .woocommerce-info {
//         border-top-color: $alert_blue $nb;

//         &::before {
//             color: $alert_blue $nb;
//         }
//     }

//     .woocommerce-error {
//         border-top-color: $alert_red $nb;

//         &::before {
//             color: $alert_red $nb;
//         }
//     }
// }