.blog_inner {

    @include media($md) {
        @include display-flex;
        @include flex-wrap(wrap);
    }

}

.view_blog {

    @include display-flex;
    @include flex-flow(column);

    @include media($md) {
        width: 47.25%;
    }

    @include media($lg) {
        width: 29.667%;
    }

    &:not(:nth-of-type(2n)) {

        @include media($md) {
            margin-right: 5.5%;
        }

        @include media($lg) {
            margin-right: 0;
        }

    }

    &:not(:nth-of-type(3n)) {

        @include media($lg) {
            margin-right: 5.5%;
        }

    }

    .et_pb_post {

        &_container {

            &:not(:last-child) {

                margin-bottom: 20px;

            }

            &_content {

                @include flex-grow(1);

                .et_pb_post_item {

                    text-align: center;

                    &:not(:last-child) {

                        margin-bottom: 20px;

                    }

                }

            }

        }

        &_item_img_empty {

            a {

                background: rgba($color_text, .1);
                display: inline-block;
                padding-top: 93.802%;
                width: 100%;

            }

        }

    }

}