.et_pb_blurb {

    &.module_flexgrow {

        .et_pb_blurb {

            &_content,
            &_container,
            &_description {

                @include display-flex;
                @include flex-flow(column);
                @include flex-grow(1);

            }

        }

        .et_pb_button_wrapper {

            margin-top: auto;

        }

    }

}