.et_pb_module {

    position: relative;
    text-align: center;

    &.et_pb_text_align {

        $aligns: left, right, center;

        @each $align in $aligns {

            &_#{$align} {

                @include media($lg) {

                    text-align: $align;

                }

            }

        }

    }

    ul {

        list-style-position: inside;
        padding: 0;

        @include media($lg) {
            list-style-position: initial;
            padding-left: 1em;
        }

    }

}

.module {

    &_flex {

        @include media($lg) {
            @include display-flex;
            @include flex-flow(column);
        }

    }

    &_flexgrow {

        @include media($lg) {
            @include flex-grow(1);
        }

    }

}