@function strip-unit($number) {
    @if type-of($number)=='number'and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@function pxtoem($basepx, $px) {
    @return ($px/$basepx)+0em;
}

@function lh_calc($font_size, $vertical_rhythm) {
    @return ($vertical_rhythm/$font_size);
}