/**
 * Mixins
*/
@mixin clearfix {
    &:after {
        clear: both;
        content: '';
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
}

@mixin animation-delay($s) {
    -webkit-animation-delay: $s;
    -moz-animation-delay: $s;
    -o-animation-delay: $s;
    -ms-animation-delay: $s;
    animation-delay: $s;
}

@mixin animation-duration($s) {
    -webkit-animation-duration: $s;
    -moz-animation-duration: $s;
    -o-animation-duration: $s;
    -ms-animation-duration: $s;
    animation-duration: $s;
}

@mixin animation-fill-mode ($s) {
    -webkit-animation-fill-mode: $s;
    -moz-animation-fill-mode: $s;
    -o-animation-fill-mode: $s;
    -ms-animation-fill-mode: $s;
    animation-fill-mode: $s;
}

@mixin animation-name ($s) {
    -webkit-animation-name: $s;
    -moz-animation-name: $s;
    -o-animation-name: $s;
    -ms-animation-name: $s;
    animation-name: $s;
}

@mixin keyframes ($name) {
    @-webkit-keyframes #{$name} {
        @content
    }

    @-moz-keyframes #{$name} {
        @content
    }

    @-o-keyframes #{$name} {
        @content
    }

    @keyframes #{$name} {
        @content
    }
}

@mixin mask-image($s) {
    -webkit-mask-image: $s;
    mask-image: $s;
}

@mixin mask-repeat($s) {
    -webkit-mask-repeat: $s;
    mask-repeat: $s;
}

@mixin mask-size($s) {
    -webkit-mask-size: $s;
    mask-size: $s;
}

/**
 * Mixins
*/

@mixin before_after {

    &::before,
    &::after {
        @content;
    }
}

@mixin media($x1, $x2: '') {
    @if $x2=='' {
        @media screen and (min-width: $x1 + 'px') {
            @content;
        }
    }

    @if $x2 !='' {
        @media screen and (min-width: $x1 + 'px') and (max-width: $x2 - 1 + 'px') {
            @content;
        }
    }
}

@mixin media_max($x) {
    @media screen and (max-width: $x - 1 + 'px') {
        @content;
    }
}

/*
vendors mixin

examples:
@include vendor((transform: translate(-50%, -50%))); // all vendors
@include vendor((transform: translate(-50%, -50%)), webkit ms); // specific vendors
*/
@mixin vendor($map, $vendors: webkit moz ms o) {

    @each $prop,
    $value in $map {
        @if $vendors {
            @each $vendor in $vendors {
                #{"-" + $vendor + "-" + $prop}: #{$value};
            }
        }

        // output regular property anyway
        #{$prop}: #{$value};
    }
}

@mixin font_family($font_name, $font_weight: '') {
    @if $font_weight=='light' {
        font-weight: 300 $nb;
    }

    @if $font_weight=='regular'or $font_weight=='' {
        font-weight: 400 $nb;
    }

    @if $font_weight=='medium' {
        font-weight: 500 $nb;
    }

    @if $font_weight=='semibold' {
        font-weight: 600 $nb;
    }

    @if $font_weight=='bold' {
        font-weight: 700 $nb;
    }

    @if $font_weight=='extrabold' {
        font-weight: 900 $nb;
    }

    font-family: $font_name;
}

/** Style section text headers the same **/
@mixin text_headers {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @content;
    }
}

/** Style section text tags the same **/
@mixin text_tags {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
        @content;
    }
}

/** Style headers **/
@mixin fontSizes($sizes) {

    @each $e, $size in $sizes {
        #{$e} {
            font-size: $size + px;
        }

        .et_pb_column_2_5,
        .et_pb_column_1_6,
        .et_pb_column_1_5,
        .et_pb_column_1_4,
        .et_pb_column_1_3 {
            #{$e} {
                font-size: $size + px;
            }
        }
    }
}

@mixin fonts_global($fonts_map) {

    @each $tag, $map in $fonts_map {
        $ff: map-get($map, ff);
        $fw: map-get($map, fw);
        $base: map-get($map, sb);
        $lh: map-get($map, lh);

        #{$tag} {
            @include font_family($ff, $fw);
            line-height: lh_calc($base, $lh);
        }

        .et_pb_column_2_5,
        .et_pb_column_1_6,
        .et_pb_column_1_5,
        .et_pb_column_1_4,
        .et_pb_column_1_3 {
            #{$tag} {
                @include font_family($ff, $fw);
                line-height: lh_calc($base, $lh);
            }
        }
    }
}

@mixin background_gradient($location: '') {
    // https://www.cssmatic.com/gradient-generator
    // @if $location == '' {
    //     background-color: rgba(109,13,24,1);
    //     @include filter-gradient(
    //         #6d0d18,
    //         #ed1c23,
    //         vertical
    //     );
    //     @include background-image(
    //         linear-gradient(
    //             top,
    //             rgba(109,13,24,1) 0%,
    //             rgba(109,13,24,1) 13%,
    //             rgba(157,27,40,1) 35%,
    //             rgba(216,39,57,1) 56%,
    //             rgba(235,45,55,1) 84%,
    //             rgba(237,28,35,1) 100%
    //         )
    //     );
    // }
}

@mixin center_element {
    @include transform(translateX(-50%) translateY(-50%));
    left: 50%;
    position: absolute;
    top: 50%;
}

@mixin center_child {
    position: relative;

    >* {
        @include center_element;
    }
}

@mixin ms_version_support($version) {
    @if $version=='edge13-edge14' {
        @supports (-ms-ime-align: auto) {
            @content;
        }
    }

    @if $version=='edge13' {
        @supports (-ms-accelerator: true) {
            @content;
        }
    }

    @if $version=='ie10-ie11' {

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            @content;
        }
    }
}

@mixin ms_support {
    @include ms_version_support ('edge13-edge14') {
        @content;
    }

    @include ms_version_support ('edge13') {
        @content;
    }

    @include ms_version_support ('ie10-ie11') {
        @content;
    }
}

@mixin input_color($color) {
    color: $color;

    @include input-placeholder {
        color: $color;
    }
}