/******************************************************************
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.
******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
$alert-yellow:      #ebe16f;
$alert-red:         #b81c23;
$alert-green:       #8fae1b;
$alert-blue:        #1e85be;

$black:             #323944;
$white:             #ffffff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;
$green:             #7dd667;
$blue:              #2980b9;

$border-color:      #cccccc;
$disabled-gray:     #cfcfcf;

$color_black:       #000000;
$color_white:       #ffffff;
$color_accent:      #00f;

/*
    Helpers
*/
$nb:                        !important;

/*
    Images
*/
$path_img:                  '../img/';

/*
    Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

$font_fb:           Arial, Helvetica, Lucida, sans-serif;
$font_rale:         'Lato', $font_fb;
$font_mont:         'Montserrat', $font_fb;

$fonts_map: (
    h1: (
        ff: $font_mont,
        fw: 'regular',
        lh: 68,
        sb: 56,
    ),
    h2: (
        ff: $font_mont,
        fw: 'regular',
        lh: 58,
        sb: 48,
    ),
    h3: (
        ff: $font_mont,
        fw: 'regular',
        lh: 40,
        sb: 30,
    ),
    h4: (
        ff: $font_rale,
        fw: 'semibold',
        lh: 29,
        sb: 24,
    ),
    h5: (
        ff: $font_rale,
        fw: 'regular',
        lh: 21,
        sb: 18,
    ),
    h6: (
        ff: $font_rale,
        fw: 'semibold',
        lh: 19,
        sb: 16,
    ),
    p: (
        ff: $font_rale,
        fw: 'regular',
        lh: 19,
        sb: 16,
    ),
    input: (
        ff: $font_rale,
        fw: 'regular',
        lh: 19,
        sb: 16,
    )
);

$font_sizes_mobile:         (h1, 40) (h2, 36) (h3, 22) (h4, 20) (h5, 16) (h6, 14) (p, 14);
$font_sizes_tablet:         (h1, 48) (h2, 42) (h3, 26) (h4, 22) (h5, 16) (h6, 15) (p, 15);
$font_sizes_desktop:        (h1, 56) (h2, 48) (h3, 30) (h4, 24) (h5, 18) (h6, 16) (p, 16);

/*
    Properties
*/

// box-shadow
$box_shadow_std:            0 3px 6px rgba($color_black, .16);

// media query properties
$wpa:                       783; // NOTE: in px. drop px to use in @mixin media()
$sm:                        481;
$md:                        768;
$lg:                        981;
$xl:                        1241;

// widths
$width_content_max:         $content_width;
$width_content_site:        80.06%;
$width_content_margin:      9.97%;
